<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="refresh" CONTENT="60">
    <title>BSB 통합관제시스템</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Favicon -->
    <link href="../theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../theme/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../theme/css/style.css?after" rel="stylesheet">

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/ee1626188c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9969c8662ad8d9cbb5042d8b658f586&libraries=services"></script>
</head>

<body style="background: #f3f3f3;">
<div class="container-fluid position-relative d-flex p-0">

    <div id="sidebar"></div>

    <!-- Content Start -->
    <div class="content">

        <div id="navbar"></div>

        <div id="test" class="map_wrap w-100" style="height: 94%">
            <div id="map" class="h-100 position-relative overflow-hidden"></div>
            <div id="menu_wrap">
                <div class="bg-primary mb-4 p-4 w-100 rounded mt-2">
                    <div class="rounded text-start pb-4">
                        <p class="d-inline-grid text-secondary fs-5 fw-bold w-100">배터리 정보</p>
                    </div>
                    <table id="table-btr" class="info-table">
                        <thead>
                        <tr>
                            <th>모델</th>
                            <th>구분</th>
                            <th>용량</th>
                            <th>전압</th>
                            <th>전류</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>다니고</td>
                            <td>DBPD3-X150/X180</td>
                            <td>13.3kWh</td>
                            <td>72V</td>
                            <td>180Ah</td>
                            <!--                            <td>테슬라</td>
                                                        <td>2,150 * 1,480 * 350 / 459.2kg</td>
                                                        <td>66.5kWh</td>
                                                        <td>-</td>
                                                        <td>-</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bg-primary p-4 w-50 rounded d-inline-grid">
                    <div class="rounded text-start pb-4">
                        <p class="d-inline-grid text-secondary fs-5 fw-bold w-100">BSB 실내 환경 정보</p>
                    </div>
                    <table class="info-table">
                        <tbody>
                        <tr>
                            <th>온도</th>
                            <!--                            <td><p id="temp" th:text="${tests.temp}"></p></td>-->
                            <td><p id="temp">[[${tests.temp}]] ℃</p></td>
                        </tr>
                        <tr>
                            <th>습도</th>
                            <!--                            <td><p id="humi" th:text="${tests.humi}"></p></td>-->
                            <td><p id="humi">[[${tests.humi}]] ％</p></td>
                        </tr>
                        <tr>
                            <th>CO</th>
                            <!--                            <td><p id="co" th:text="${tests.co}"></p></td>-->
                            <td><p id="co">[[${#numbers.formatDecimal(tests.co/20, 1, 2)}]]</p></td>
                        </tr>
                        <!--                        <tr>
                                                    <th>H2</th>
                                                    <td><p id="h2" th:text="${tests.h2}"></td>
                                                    <td><p id="h2">[[${tests.h2}]]</p></td>
                                                </tr>-->
                        </tbody>
                    </table>
                </div>
                <div class="bg-primary p-4 w-45 rounded d-inline-grid weather">
                    <div class="rounded text-start pb-4">
                        <p class="d-inline-grid text-secondary fs-5 fw-bold w-100">현재 위치 날씨</p>
                    </div>

                    <table id="table-weather">
                        <tbody>
                        <tr>
                            <th style="width: 40%"><i class="bi bi-thermometer-half fs-3"></i></th>
                            <td><p id="l_temp" class="sens CurrTemp fs-5"></p></td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-droplet-half fs-3"></i></th>
                            <td><p id="l_humi" class="sens CurrHumi fs-5"></p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bg-primary mt-4 p-4 w-100 rounded">
                    <div class="rounded text-start pb-4">
                        <p class="d-inline-grid text-secondary fs-5 fw-bold w-100">BSB 안전 상태</p>
                        <i id="safety-line" class="position-absolute fs-6 bi bi-question-circle">
                            <div>
                                <img src="../asset/images/s-images/status_line.png" style="width: 80%;margin-left: 20%;">
                                <table id="">
                                    <tbody>
                                    <tr>
                                        <th >온도</th>
                                        <td>31℃ 이하</td>
                                        <td>31℃ ~ 36℃</td>
                                        <td>36℃ 초과</td>
                                    </tr>
                                    <tr>
                                        <th>습도</th>
                                        <td>60% 미만</td>
                                        <td>60% ~ 70%</td>
                                        <td>70% 초과</td>
                                    </tr>
                                    <tr>
                                        <th>일산화탄소</th>
                                        <td>10ppm 미만</td>
                                        <td>10ppm ~ 25ppm</td>
                                        <td>25ppm 초과</td>
                                    </tr>
                                    <!--                                    <tr>
                                                                            <th>수소</th>
                                                                            <td>5ppm 미만</td>
                                                                            <td>5ppm ~ 100ppm</td>
                                                                            <td>100ppm 초과 </td>
                                                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </i>
                    </div>
                    <div class="status-div-info">
                        <div id="normal" class="status-info null fw-bolder">안전</div>
                    </div>
                    <div class="status-div-info">
                        <div id="warning" class="status-info null fw-bolder">주의</div>
                    </div>
                    <div class="status-div-info">
                        <div id="fault" class="status-info null fw-bolder">위험</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../theme/lib/chart/chart.min.js"></script>
<script src="../theme/lib/easing/easing.min.js"></script>
<script src="../theme/lib/waypoints/waypoints.min.js"></script>
<script src="../theme/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../theme/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Include -->
<script src="../js/include.js"></script>
<!-- Clock -->
<script src="../js/clock.js"></script>
<!-- Map -->
<!--<script src="../js/map_info.js"></script>-->
<script th:inline="javascript">

    var lat = [[${testm.lat}]]; lng = [[${testm.lng}]];
    /*var lat = [[${test[12].lat}]]; lng = [[${test[12].lng}]];*/

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(lat, lng-0.003636), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc1 = '../asset/images/s-images/marker_test.png', // 마커이미지의 주소입니다
        imageSize1 = new kakao.maps.Size(45, 45), // 마커이미지의 크기입니다
        imageOption1 = {offset: new kakao.maps.Point(20, 40)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage1 = new kakao.maps.MarkerImage(imageSrc1, imageSize1, imageOption1),
        markerPosition1 = new kakao.maps.LatLng(lat, lng); // 마커가 표시될 위치입니다

    // 마커를 생성합니다
    var marker1 = new kakao.maps.Marker({
        position: markerPosition1,
        image: markerImage1, // 마커이미지 설정
        clickable: true
    });

    // 마커가 지도 위에 표시되도록 설정합니다

    marker1.setMap(map);
</script>
<!-- Weather -->
<!--<script src="../js/weather.js"></script>-->
<script th:inline="javascript">

    var $lat = [[${testm.lat}]]; $lng = [[${testm.lng}]];

    function weather(){
        var $APP_KEY = 'c43686a612316db9fd2bf145c19acee2';

        $.ajax({
            url: 'https://api.openweathermap.org/data/2.5/weather?lat='+$lat+'&lon='+$lng+'&appid='+$APP_KEY+'&units=metric',
            dataType: 'json',
            type: 'GET',
            success: function (data){
                var $Temp = (data.main.temp).toFixed(2) + '℃';
                var $Humi = data.main.humidity + '％';
                var $city = data.name;

                $('.CurrTemp').prepend($Temp);
                $('.CurrHumi').prepend($Humi);
                $('.City').append($city);
            }
        })

        $('.CurrTemp').empty()
        $('.CurrHumi').empty()

    }

    $(document).ready(weather());
</script>
<!-- Data -->
<script src="../js/sens_data.js"></script>
<script th:inline="javascript">
    var temp = [[${tests.temp}]]
    var humi = [[${tests.humi}]]
    var co = [[${tests.co%20}]]

    if(temp <= 31 && humi < 60 && co < 10){
        $(document).ready(function(){
            document.getElementById('normal').className = 'status-info normal-info fw-bolder';
        });
    }else if(temp > 36 || humi > 70 || co > 25){
        $(document).ready(function(){
            document.getElementById('fault').className = 'status-info fault-info fw-bolder';
        });
    }else{
        $(document).ready(function(){
            document.getElementById('warning').className = 'status-info warning-info fw-bolder';
        });
    }
</script>
</body>

</html>